.landing{
  display: flex;
  flex-wrap: wrap;
  color: rgb(243, 33, 18);
  justify-content: space-between;
  background-image: url("https://images6.alphacoders.com/101/thumb-1920-1016894.jpg");
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}
.add-item{
  margin:20px auto;
  display: flex;
  flex-direction: column;
  text-align: center; 
  width: 70%;
}
.add-item div {
  display: flex;
  justify-content: space-evenly;
}
.add-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: bisque;
  background-color: brown;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.food-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 70px auto;
  width: 90%;
}
.plate{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  min-width: 300px;
  width: 400px;
  height: 170px;
  box-shadow: 0 0 10px gray;
}
.plate-details{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-around;
  width:40%;
  height:80%;
  align-self: center;
}
.order-button{
  width: 50px;
}
.order-button{
  align-self: flex-end;
  margin-right: 20px;
}
.quantity{
  width: 40px;
  margin: 0 20px;
}
.amount{
  display:flex;
  justify-content: space-between;
}
.totaux{
  display:flex;
  justify-content: space-around;
}
