*{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  color: rgb(104, 24, 24);
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgb(88, 87, 87);
}
.logo{
  margin-left: 70px;
  font-weight: bold;
  font-size: 5em;
  font-style: oblique;
  line-height: 100px;
}
.buttons{
  margin-top: 50px;
  margin-right: 20px;
}
.sign-in, .sign-up{
  font-size: 1.2em;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  float: right;
  padding: 5px 10px;
}
.links{
  font-size: 1.5em;
  text-align: center;
line-height: 100px;
}
.home{
  margin-right: 20px;
  text-decoration: none;
  color: brown;
}
.home:hover{
  text-decoration: none;
  color: rgb(185, 95, 21);
}